<h1><%= @cocktail.name %></h1>
<p><%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail.id) %></p>

<% @cocktail.doses.each do |dose| %>
  <ul>
    <li>
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to 'delete', dose_path(dose.id), method: :delete %>

    </li>
  </ul>
<% end %>

